@model Lowtel.Models.Reservation

@{
    ViewData["Title"] = "Delete Reservation";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientId" />
        <input type="hidden" asp-for="HotelId" />
        <input type="hidden" asp-for="RoomId" />
        <input type="hidden" asp-for="CheckInDate"/>
        <input type="hidden" asp-for="CheckOutDate"/>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
