@model Lowtel.Models.Reservation

@{
    ViewData["Title"] = "Reservation Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.RoomType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
