@model Lowtel.Models.Reservation
@{
    ViewData["Title"] = "Check Out Reservation";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="ErrMsg">
    @TempData["ErrMessageReservation"]
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="client-id" asp-for="ClientId" />
            <input type="hidden" id="hotel-id" asp-for="HotelId" />
            <input type="hidden" id="room-id" asp-for="RoomId" />
            <input type="hidden" id="checkin-date" asp-for="CheckInDate" />
            <h4>Reservation</h4>
            <hr /> 
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.CheckInDate): </label> @Html.DisplayFor(model => model.CheckInDate)
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.CheckOutDate): </label> @Html.DisplayFor(model => model.CheckOutDate)
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Room.RoomType): </label> @Html.DisplayFor(model => model.Room.RoomType.Name)
            </div>            
            <div class="form-group">
                <label>Price per night: </label> @ViewBag.pricePerNight$
            </div>
            <div class="form-group">
                <label>Number of nights: </label> @ViewBag.nights
            </div>
            <div class="form-group">
                <label>Total : </label>
                @ViewBag.price $
            </div>
            <div class="form-group">
                <input type="submit" value="CheckOut" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
