@model IEnumerable<Lowtel.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form>
    Search: <input type="text" name="SearchString">
    <input type="submit" value="Filter" />
    <a asp-controller="Reservations" asp-action="Index">Clear</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                <a asp-controller="Reservations" asp-action="Details" asp-route-ClientId="@item.ClientId" asp-route-RoomId="@item.RoomId" asp-route-HotelId="@item.HotelId" asp-route-CheckInDate="@item.CheckInDate">Details</a> |
                <a asp-controller="Reservations" asp-action="Delete" asp-route-ClientId="@item.ClientId" asp-route-RoomId="@item.RoomId" asp-route-HotelId="@item.HotelId" asp-route-CheckInDate="@item.CheckInDate">Delete</a> |
                @if (item.CheckOutDate == null)
                {
                    <a asp-controller="Reservations" asp-action="Edit" asp-route-ClientId="@item.ClientId" asp-route-RoomId="@item.RoomId" asp-route-HotelId="@item.HotelId" asp-route-CheckInDate="@item.CheckInDate">Check Out</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
