@model Lowtel.Models.Room
@using Lowtel.Controllers
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Room Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFree)
        </dd>
    </dl>
</div>
<div>
    @if (Context.Session.GetString(UsersController.SessionName) != null)
    {
        @Html.ActionLink("Edit", "Edit/" + Model.Id + "/" + Model.HotelId) <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
