@model IEnumerable<Lowtel.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h2>@ViewData["Title"]</h2>

@if (Context.Session.GetString(UsersController.SessionName) != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Index">
    Search: <input type="text" name="SearchString">
    <input type="submit" value="Filter" />
    <a asp-controller="Rooms" asp-action="Index">Clear</a>
</form>

<form class="multi-search" asp-action="MultiSearch">
    --- Multi search ---
    <div class="form-group">
        <label class="control-label">Hotel State:</label>
        <select id="hotel-states" name="hotelState" class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Room Type:</label>
        <select id="room-types" name="roomTypeName" class="form-control"></select>
    </div>    
    <div class="form-group">
        <label class="control-label">Maximum Room Price:</label>
        <input type="number" value="500" min="1" id="price" name="price">
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-default" />
        <a asp-controller="Rooms" asp-action="Index">Clear</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.PriceForNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.PriceForNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFree)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + item.Id + "/" + item.HotelId) |
                @Html.ActionLink("Details", "Details/" + item.Id + "/" + item.HotelId) |
                @Html.ActionLink("Delete", "Delete/" + item.Id + "/" + item.HotelId)
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $.ajax({
        type: "GET",
        url: "/Hotels/GetAllHotelsState",
        success: function (states) {
            states.forEach(state => {
                $("#hotel-states").append("<option>" + state + "</option>");
            });
        },
        error: function (err) {
            console.error(err);
        }
    });

    $.ajax({
        type: "GET",
        url: "/RoomTypes/GetAllRoomTypesName",
        success: function (names) {
            names.forEach(name => {
                $("#room-types").append("<option>" + name + "</option>");
            });
        },
        error: function (err) {
            console.error(err);
        }
    });
</script>
