@model IEnumerable<Lowtel.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFree)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + item.Id + "/" + item.HotelId) |
                @Html.ActionLink("Details", "Details/" + item.Id + "/" + item.HotelId) |
                @Html.ActionLink("Delete", "Delete/" + item.Id + "/" + item.HotelId)
            </td>
        </tr>
}
    </tbody>
</table>
