@model IEnumerable<Lowtel.Models.Room>
@using Lowtel.Controllers
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Rooms";
}

<h2>@ViewData["Title"]</h2>

@if (Context.Session.GetString(UsersController.SessionName) != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.PriceForNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType.PriceForNight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFree)
                </td>
                <td>
                    @if (Context.Session.GetString(UsersController.SessionName) != null)
                    {
                        @Html.ActionLink("Edit", "Edit/" + item.Id + "/" + item.HotelId) <span>|</span>
                        @Html.ActionLink("Delete", "Delete/" + item.Id + "/" + item.HotelId) <span>|</span>
                    }

                    @Html.ActionLink("Details", "Details/" + item.Id + "/" + item.HotelId)
                </td>
            </tr>
        }
    </tbody>
</table>
