@model IEnumerable<Lowtel.Models.Hotel>
@using Lowtel.Controllers
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Hotels";
}

<h2>@ViewData["Title"]</h2>

@if (Context.Session.GetString(UsersController.SessionName) != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form>
    Search: <input type="text" name="SearchString">
    <input type="submit" value="Filter" />
    <a asp-controller="Hotels" asp-action="Index">Clear</a>
</form>

<form class="multi-search" asp-action="MultiSearch">
    --- Multi search ---
    <div class="form-group">
        <label class="control-label">Hotel State:</label>
        <select id="hotel-states" name="hotelState" onchange="LoadHotelsCityByState(this.value)" class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Hotel City:</label>
        <select id="hotel-cities" name="hotelCity" class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Minimum Stars Rate: </label>
        <input type="number" value="3" min="3" max="5" id="minStarsRate" name="minStarsRate">
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-default" />
        <a asp-controller="Hotels" asp-action="Index">Clear</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarsRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarsRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (Context.Session.GetString(UsersController.SessionName) != null)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $.ajax({
        type: "GET",
        url: "/Hotels/GetAllHotelsState",
        success: function (states) {
            LoadHotelsCityByState(states[0]);
            states.forEach(state => {
                $("#hotel-states").append("<option>" + state + "</option>");
            });
        },
        error: function (err) {
            console.error(err);
        }
    });    

    function LoadHotelsCityByState(state) {
        $.ajax({
            type: "GET",
            url: "/Hotels/GetAllHotelsCityByState?state=" + state,
            success: function (cities) {
                $("#hotel-cities").html("");
                cities.forEach(city => {
                    $("#hotel-cities").append("<option>" + city + "</option>");
                });
            },
            error: function (err) {
                console.error(err);
            }
        });
    }    
</script>